<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jerem.eatsmart" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/red_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".loginPage"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".home_customer"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".splash_screen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUPActivity"
            android:label="@string/title_activity_sign_up"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".chooseSignUP"
            android:label="@string/title_activity_choose_sign_up"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".restaurantSignUp"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".home_restaurant"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".details_restaurant"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".restau_choose"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".im_feeling_lucky"
            android:label="@string/title_activity_im_feeling_lucky"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".filter"
            android:label="@string/title_activity_filter"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".search"
            android:label="@string/title_activity_search"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".search_result"
            android:label="@string/title_activity_search_result"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".resto_edit"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".rate_and_comment"
            android:label="@string/title_activity_rate_and_comment"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".true_home_restau"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".details_restaurant_2"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
